<DOCTYPE html>
<html ng-app='parseQ'>
<head>
	<title>ParseQ</title>
    <link rel="stylesheet" href="main.css">
</head>
<body ng-controller='MainController'>
  
  {{test}}
  <form>
    <input type="text" placeholder="Enter Question" ng-model="newQuestion" />
    <button type="submit" ng-click="postQuestion()">Submit</button>
  </form>
  <div ng-repeat="question in previousQuestions | filter : {Status : 'red'}">
    {{question.Question}}
    <button ng-click=updateQuestion(question.objectId)>Update</button>
  </div>  
  <h3>Questions in Process</h3>
  <div ng-repeat="question in previousQuestions | filter: {Status:'yellow'}">
    {{question.Question}}
    <button ng-click=deleteQuestion(question.objectId)>Delete</button>
  </div>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/MainController.js"></script>
  <script src="js/services/parseService.js"></script>
  <script src="js/defaultHeaders.js"></script>
</body>
</html>